<div id="blocCircuit">
    <img style="width: auto; height: 200px;" src="/image/circuit/{{detailsCircuit.CIRADRESSEIMAGE}}" alt="imageCircuit" class="petitBlocCircuit">
    
    <div class="petitBlocCircuit" id="bloc2Circuit">
        <div><p class="bold">Nom :</p>{{detailsCircuit.CIRNOM}}</div>
        <div><p class="bold">Longueur : </p>{{detailsCircuit.CIRLONGUEUR}} m</div>
        <div><p class="bold">Nombre de spectateurs : </p>{{detailsCircuit.CIRNBSPECTATEURS}}</div>
        <div><p class="bold">Pays : </p>{{detailsCircuit.PAYNOM}}</div>
    </div>

    <div class="petitBlocCircuit" id="bloc3Circuit">
        {{> listeCircuitPartial}}
    </div>
</div>

<p>{{detailsCircuit.CIRTEXT}}</p>