{{#each detailEcurie}}
    <img src="/image/ecurie/{{{this.ECUADRESSEIMAGE}}} " >
    <p>
      Nom : {{this.ECUNOM}} <br>
      Directeur : {{this.ECUNOMDIR}}<br>
      Adresse : {{this.ECUADRSIEGE}}<br>
      Pays : {{this.PAYNOM}}<br>
      {{#if this.FPNOM}}
        Fournisseur de pneumatiques : {{this.FPNOM}}
      {{/if}}
    </p>
 {{/each}}

 {{#if listePilotesEcurie }}
   {{> listePiloteEcuriePartial }}
   {{> listeVoiturePartial }}
 {{else}}
    Cette écurie ne participe pas au championnat cette année
 {{/if}}
 {{> listeEcuriePartial }}
