<img style="width: 200px; heigth: auto" src="/image/circuit/{{detailsCircuit.CIRADRESSEIMAGE}}" alt="imageCircuit">
<p>Nom : {{detailsCircuit.CIRNOM}} <br />
Longueur : {{detailsCircuit.CIRLONGUEUR}} m <br />
Nombre de spectateurs : {{detailsCircuit.CIRNBSPECTATEURS}} <br />
Pays : {{detailsCircuit.PAYNOM}}</p>
{{> listeCircuitPartial}}
<p>{{detailsCircuit.CIRTEXT}}</p>