{{> nomPilotePartial}}
<h2>{{title}}</h2>
{{#each pilotes}}
  <a href="/detailsPilote/{{this.PILNUM}}"><img src="/image/pilote/{{{this.PHOADRESSE}}}">
  <p>{{this.PILNOM}}
  {{this.PILPRENOM}}</p></a>
{{/each}}