{{> nomPilotePartial}}
<h2>{{title}}</h2>

<div id="pilotes">
  {{#each pilotes}}
    <a href="/detailsPilote/{{this.PILNUM}}">
      <img src="/image/pilote/{{{this.PHOADRESSE}}}" id="imgProfile">
      <p id="lienPilote">{{this.PILNOM}}</p> <p>{{this.PILPRENOM}}</p>
    </a>
  {{/each}}
</div>