<h1>Modifier une écurie</h1>

<form method="POST" action="/modifierEcuriePost/{{ecunum}}" enctype="multipart/form-data">
    <label for="nom">Nom</label>
    <input required type="text" name="ECUNOM" value="{{donneesEcurie.ECUNOM}}">

    <label for="directeur">Directeur</label>
    <input required type="text" name="ECUNOMDIR" value="{{donneesEcurie.ECUNOMDIR}}">

    <label for="adresse">Adresse du siege</label>
    <input required type="text" name="ECUADRSIEGE" value="{{donneesEcurie.ECUADRSIEGE}}">

    <label for="points">Points</label>
    <input required type="text" name="ECUPOINTS" value="{{donneesEcurie.ECUPOINTS}}">

    <label for="pays">Pays</label>
    <select name="PAYNUM" >
        {{#each pays}}
            <option value="{{this.PAYNUM}}">{{this.PAYNOM}}</option>
        {{/each}}
    </select>

    <label for="image">Image</label>
    <input required type="file" name="ECUADRESSEIMAGE" />
    <span></span>

    <input type="submit" value="MODIFIER" id="bouton">
</form>