<h1>Modifier un sponsor</h1>

<form method="POST" action="/ModifierSponsorPost/{{sponum}}">
    <label for="nom">Nom</label>
    <input required name="SPONOM" type="text" value="{{donneesSponsor.SPONOM}}">

    <label for="longueur">Secteur d'activité</label>
    <input required name="SPOSECTACTIVITE" type="text" value="{{donneesSponsor.SPOSECTACTIVITE}}">

    <label for="pays">Ecurie sponsorisé</label>
    <select name="ECUNUM" >
        <option value="0">Aucune</option>
        {{#each listeEcurie}}
            <option value="{{this.ECUNUM}}">{{this.ECUNOM}}</option>
        {{/each}}
    </select>

    <span></span>
    <input type="submit" value="MODIFIER" id="bouton">
</form>
