<div class="resultat">
    <table>
      <tr>
          <th>Place</th>
          <th>Pilote</th>
          <th>Temps</th>
          <th>Points</th>
        </tr>
      {{#each detailGrandPrix}}
        <tr>
            <td>{{this.row_number}}</td>
            <td>{{this.PILNOM}} {{this.PILPRENOM}}</td>
            <td>{{this.TEMPSCOURSE}}</td>
            <td>{{this.PTNBPOINTSPLACE}}</td>
            <td>
                <img src="/image/act_delete.png" alt="modif">
                <a href="/supprimerLigneResultat/{{this.GPNUM}}/{{this.PILNUM}}"> Supprimer</a>
            </td>
        </tr>
      {{/each}}
    </table>
</div>
